#{extends 'main.html' /}
#{set title:'New Question' /}

<h1>Post your Question</h1>

#{form @Application.addQuestion()}
<input type="hidden" name="question.id"/>

<p class="field">
    <label for="name">Your Name:</label>
    <input type="text" id="owner" name="owner"/>
</p>
<p class="field">
    <label for="content">Question:</label>
    <input type="text" id="content" name="content"/>
</p>
<p class="buttons">
    <input type="submit" class="button" value="Cancel" id="index"/>
    <input type="submit" class="button" value="Post question" id="addQuestion"/>
</p>
#{/form}